<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/eclipse-workspace-automatizados/automacao-java-api/testng.xml" preserve-order="true" verbose="2">

        <parameter name="CPF_COM_RESTRICAO" value="97093236014, 60094146012"/>

        <!--    <test name="paramtroCpf">-->
        <classes>
            <class name="restricoes.TestRestricaoCpf" />
            <class name="simulacoes.criacao.TestCriacaoSimulacoes" />
            <class name="simulacoes.criacao.TestCriacaoSimulacoesNegada" />
            <class name="simulacoes.criacao.TestSimulacoesCamposObrigatorios" />
            <class name="simulacoes.alteracao.TestAlteracaoSimulacao" />
            <class name="simulacoes.alteracao.TestAlteracaoNegada" />
            <class name="simulacoes.consulta.TestConsultaSimulacaoCpf" />
            <class name="simulacoes.consulta.TestConsultaSimulacaoTodas" />
            <class name="simulacoes.remocao.TestRemocaoSimulacao" />

        </classes>
        <!--        <test verbose="2" name="TestesRestricao">-->
        <!--        <parameter name="CPF" value="97093236014"/>-->

    </test>
</suite>